<!DOCTYPE html>
<!--<html lang="en" manifest="manifest.appcache">-->
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-title" content="Weather">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="apple-touch-icon-precomposed" href="http://suix.me/images/icon.png">
<link rel="apple-touch-startup-image" href="">
<link rel="stylesheet" href="/css/style.css">
<title>Weahter</title>
</head>
<body>
<a href="javascript:void(0);" id="slidebarTrigger"><i class="ico ico_slidebar"></i></a>
<div class="today"></div>
<div class="today_weather"></div>
<div class="future24"></div>
<div class="future"></div>
<div class="slidebar" id="slidebar">
    <div class="slidebar_tt" id="cityListTrigger">
        <a href="javascript:void(0);" class="slidebtn"><i class="ico ico_add"></i></a>
    </div>
    <ul class="citylist" id="citylist">
    </ul>
    <div class="selectcity" id="slidebarCity">
        <div class="slidebar_tt" id="citySelTrigger">
            <a href="javascript:void(0);" class="slidebtn"><i class="ico ico_back"></i></a>
        </div>
        <h4>热门城市</h4>
        <ul class="hotcity" id="hotcity">
            <li><a href="javascript:void(0);">北京</a></li>
            <li><a href="javascript:void(0);">上海</a></li>
            <li><a href="javascript:void(0);">广州</a></li>
            <li><a href="javascript:void(0);">深圳</a></li>
            <li><a href="javascript:void(0);">东莞</a></li>
            <li><a href="javascript:void(0);">杭州</a></li>
        </ul>
        <h4>选择城市</h4>
        <div class="selectbox">
            <ul class="selectbox_option">
                <li>广东省</li>
                <li>广东省</li>
                <li>广东省</li>
                <li class="cur">广东省</li>
                <li>广东省</li>
                <li>广东省</li>
                <li>广东省</li>
                <li>广东省</li>
                <li>广东省</li>
                <li>广东省</li>
            </ul>
            <ul class="selectbox_option selectbox_option_r">
                <li>深圳市</li>
                <li>深圳市</li>
                <li class="cur">深圳市</li>
                <li>深圳市</li>
                <li>深圳市</li>
                <li>深圳市</li>
                <li>深圳市</li>
                <li>深圳市</li>
                <li>深圳市</li>
                <li>深圳市</li>
            </ul>
        </div>
        <a href="#" class="submit">确 定</a>
    </div><!-- selectcity -->    
</div><!-- slidebar -->

<div class="loading" style="display: none;"><div class="oneday">随心，随性，随行！</div></div>
<div class="adddesk" style="display: none;"><span>请用Safari打开本页面后，添加到手机主屏幕再使用。</span></div>
<div id="mapContainer"></div>
<script type="text/javascript" src="js/lib/seajs/3.0.0/sea.js"></script>
<script type="text/javascript">
    seajs.config({
        base:"./js/",
        alias:{
            "jquery":"lib/jquery/2.1.4/jquery",
            "fastclick":"lib/fastclick/1.0.6/fastclick",

        },
        paths:{
           "lib":"lib"
        }
    })
    seajs.use("app")
</script>
</body>
</html>