<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="Weather">

<link rel="apple-touch-icon-precomposed" href="../images/icon.png">
<link rel="apple-touch-startup-image" href="">
<link rel="stylesheet" href="../css/style.css">
<title>Weahter</title>
</head>
<body>
<div class="today">
	Shenzhen / 06.11 2015<strong>晴  28°</strong>
</div>
<div class="today_weather">
	<i class="ico ico_sun"></i>
</div>
<div class="future">
	<dl><dt>Sun</dt><dd><i class="ico ico_sun"></i><span><i class="ico ico_sun"></i><br/>6/12</span></dd></dl>
	<dl><dt>Mon</dt><dd><i class="ico ico_day_cloudy"></i><span><i class="ico ico_thunder"></i><br/>6/12</span></dd></dl>
	<dl><dt>Tue</dt><dd><i class="ico ico_night_cloudy"></i><span><i class="ico ico_thunder_rain"></i><br/>6/12</span></dd></dl>
	<dl><dt>Wen</dt><dd><i class="ico ico_rain_s"></i><span><i class="ico ico_thunder_rain_h"></i><br/>6/12</span></dd></dl>
	<dl><dt>Fri</dt><dd><i class="ico ico_rain_m"></i><span><i class="ico ico_sun"></i><br/>6/12</span></dd></dl>
	<dl><dt>Sat</dt><dd><i class="ico ico_rain_h"></i><span><i class="ico ico_sun"></i><br/>6/12</span></dd></dl>
</div>



<div class="loading"><div class="oneday">I can always make you smile.</div></div>

</body>
</html>